# Copy this file to .env and fill in the values.
# NEVER commit the .env file. Only commit this .env.example file.

# TODO (Abdulroheem + Bashir): Once the backend API is deployed on ECS,
# paste the ALB (Load Balancer) URL here.
const API_BASE = "http://10.34.236.123:8000"; 
VITE_API_URL=${API_BASE}
